body {
  margin: 0;  
  font-family: 'Montserrat', 'fontello', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

h2 {
  font-size: 26px;
  line-height: 130%;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #2a3c46;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/rubik.ttf") format("ttf");
}
@font-face {
  font-family: "RubikBold";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/rubik.ttf") format("ttf");
}
