
@import url('https://fonts.googleapis.com/css?family=Rubik');
body {
  margin: 0;
  font-family: 'Rubik' /*, 'Montserrat', 'fontello', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif*/ ;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

h2 {
  font-size: 26px;
  line-height: 130%;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #2a3c46;
}